<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img
 src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/alx-courses/aice/assets/Content_page_banner_blue_dots.png"
 alt="ALX Content Header"
 class="full-width-image"
/>
</div>

# Subquery in the JOIN clause

In this notebook we will look at subqueries, which are powerful tools to enable more in-depth analysis in SQL. They are essentially intermediate results sets that we access with another query, so **a query inside another query**. We can use subqueries in various places in a query, and those subquery results also have various forms. Here, we look at the **use of a subquery in the `JOIN` clause.**

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

In this train, we will learn:
- How to use the result set of a subquery in the main query by joining the main table to the subquery on a related column.

## Overview

Imagine we want to calculate the percentage of land area that a specific country in a sub-region occupies, as a percentage of the total land area in that sub-region. We would need to divide each country’s land area with the sum of all countries in that sub-region.

Previously, we created a correlated subquery that calculated the land area for each row. Let’s improve on that. It would be more efficient if we calculated the total land area once for each sub-region. **We can then run a query that would just retrieve the land area value from the result of the inner query.**

## Connecting to our MySQL database

We will use our `Geographic_location` table in our `united_nations` database that we created in MySQL Workbench. We can apply the same queries we used in MySQL Workbench in this notebook if we connect to our MySQL server by running the cells below.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:WangilaP%400911@localhost:3306/united_nations

'Connected: root@united_nations'

## Exercise

### 1. Calculate the total land area for each sub-region

Write a query that will aggregate the data by summing the `land area` and then grouping the sums by `sub-region`. Give the sums the alias `TotalLandArea`.

In [6]:
%%sql
SELECT
    Sub_region,
    SUM(Land_area) AS TotalLandArea
FROM
    Geographic_location
GROUP BY 
    Sub_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Southern Asia', Decimal('4770136')),
 ('Northern Africa', Decimal('6610941')),
 ('Polynesia', Decimal('7218')),
 ('Middle Africa', Decimal('3888270')),
 ('Caribbean', Decimal('208104')),
 ('South America', Decimal('15401392')),
 ('Western Asia', Decimal('3488572')),
 ('Australia and New Zealand', Decimal('7953710')),
 ('Central America', Decimal('2452080')),
 ('Western Africa', Decimal('5735549')),
 ('Northern America', Decimal('9376094')),
 ('Southern Africa', Decimal('2650670')),
 ('South-Eastern Asia', Decimal('3865282')),
 ('Eastern Africa', Decimal('5949153')),
 ('Eastern Asia', Decimal('11346500')),
 ('Melanesia', Decimal('529590')),
 ('Micronesia', Decimal('2470')),
 ('Central Asia', Decimal('3749015'))]

### 2. Calculate country land area percentages for all the regions using a subquery in the JOIN clause 

Create a query with a main query that selects, from the `Geographic_location` table, the columns `Country_name`, `Land_area`, and `Sub_region`. The next line should then divide the `Land area` by the land area totals named, `TotalLandArea`, gotten from the subquery. Give this calculated column the alias `Pct_of_region_land`.

The query should also have a `JOIN` clause where we will add the query we created in Exercise 1 as a subquery named `Land_per_region`. This join occurs between the `Geographic_location` table and the `Land_per_region` subquery on the `Sub_region` column.

In [8]:
%%sql
SELECT
    Country_name,
    Land_area,
    Sub_region,
    (Land_area/(SELECT
                    SUM(Land_area) AS TotalLandArea
                FROM
                    Geographic_location
                GROUP BY 
                    Sub_region;)
FROM
    Geographic_location;

 * mysql+pymysql://root:***@localhost:3306/united_nations
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ';)\nFROM\n    Geographic_location' at line 10")
[SQL: SELECT
    Country_name,
    Land_area,
    Sub_region,
    (Land_area/(SELECT
                    SUM(Land_area) AS TotalLandArea
                FROM
                    Geographic_location
                GROUP BY
                    Sub_region;)
FROM
    Geographic_location;]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Solutions

### 1. Calculate the total land area for each sub-region

In [ ]:
%%sql

SELECT 
    Sub_region, 
    SUM(Land_area) AS Total_Land_Area
FROM 
    Geographic_location
GROUP BY 
    Sub_region

This gives us a table with a list of all the sub-regions and their total land areas calculated. In this case, we are not calculating a single value, but an entire table of values. Now we just join this table to the main one and reference the `Sub-region` as the key.

### 2. Calculate country land area percentages for all the regions using a subquery in the JOIN clause

In [9]:
%%sql

SELECT 
    geoloc.Country_name,
    geoloc.Land_area,
    geoloc.Sub_region,
    (geoloc.Land_area / Land_per_region.Total_Land_Area) * 100 AS Pct_Of_Region_Land
FROM
    Geographic_location AS geoloc
JOIN 
    ( 
    SELECT 
        Sub_region, 
        SUM(Land_area) AS Total_Land_Area
    FROM 
        Geographic_location
    GROUP BY 
        Sub_region)  AS Land_per_region 
    ON 
        geoloc.Sub_region = Land_per_region.sub_Region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
182 rows affected.

[('Sri Lanka', 61878, 'Southern Asia', Decimal('1.2972')),
 ('Pakistan', 770880, 'Southern Asia', Decimal('16.1605')),
 ('Nepal', 143350, 'Southern Asia', Decimal('3.0052')),
 ('Maldives', 300, 'Southern Asia', Decimal('0.0063')),
 ('Iran (Islamic Republic of)', None, 'Southern Asia', None),
 ('India', 2973190, 'Southern Asia', Decimal('62.3293')),
 ('Bhutan', 38138, 'Southern Asia', Decimal('0.7995')),
 ('Bangladesh', 130170, 'Southern Asia', Decimal('2.7289')),
 ('Afghanistan', 652230, 'Southern Asia', Decimal('13.6732')),
 ('Tunisia', 155360, 'Northern Africa', Decimal('2.3500')),
 ('Sudan', 1868000, 'Northern Africa', Decimal('28.2562')),
 ('Morocco', 446300, 'Northern Africa', Decimal('6.7509')),
 ('Libya', 1759540, 'Northern Africa', Decimal('26.6156')),
 ('Egypt', None, 'Northern Africa', None),
 ('Algeria', 2381741, 'Northern Africa', Decimal('36.0273')),
 ('Wallis and Futuna Islands', None, 'Polynesia', None),
 ('Tuvalu', 30, 'Polynesia', Decimal('0.4156')),
 ('Tonga', 720, 'Polynesia', Decimal('9.9751')),
 ('Tokelau', None, 'Polynesia', None),
 ('Samoa', 2797, 'Polynesia', Decimal('38.7503')),
 ('Niue', None, 'Polynesia', None),
 ('French Polynesia', 3471, 'Polynesia', Decimal('48.0881')),
 ('Cook Islands', None, 'Polynesia', None),
 ('American Samoa', 200, 'Polynesia', Decimal('2.7709')),
 ('Sao Tome and Principe', 960, 'Middle Africa', Decimal('0.0247')),
 ('Gabon', 257670, 'Middle Africa', Decimal('6.6269')),
 ('Equatorial Guinea', 28050, 'Middle Africa', Decimal('0.7214')),
 ('Democratic Republic of the Congo', None, 'Middle Africa', None),
 ('Congo', None, 'Middle Africa', None),
 ('Chad', 1259200, 'Middle Africa', Decimal('32.3846')),
 ('Central African Republic', 622980, 'Middle Africa', Decimal('16.0220')),
 ('Cameroon', 472710, 'Middle Africa', Decimal('12.1573')),
 ('Angola', 1246700, 'Middle Africa', Decimal('32.0631')),
 ('United States Virgin Islands', None, 'Caribbean', None),
 ('Turks and Caicos Islands', 950, 'Caribbean', Decimal('0.4565')),
 ('Trinidad and Tobago', 5130, 'Caribbean', Decimal('2.4651')),
 ('Sint Maarten (Dutch part)', 34, 'Caribbean', Decimal('0.0163')),
 ('Saint Vincent and the Grenadines', None, 'Caribbean', None),
 ('Saint Martin (French Part)', None, 'Caribbean', None),
 ('Saint Lucia', None, 'Caribbean', None),
 ('Saint Kitts and Nevis', None, 'Caribbean', None),
 ('Saint Barthélemy', None, 'Caribbean', None),
 ('Puerto Rico', 8870, 'Caribbean', Decimal('4.2623')),
 ('Montserrat', None, 'Caribbean', None),
 ('Martinique', None, 'Caribbean', None),
 ('Jamaica', 10830, 'Caribbean', Decimal('5.2041')),
 ('Haiti', 27560, 'Caribbean', Decimal('13.2434')),
 ('Guadeloupe', None, 'Caribbean', None),
 ('Grenada', 340, 'Caribbean', Decimal('0.1634')),
 ('Dominican Republic', 48310, 'Caribbean', Decimal('23.2144')),
 ('Dominica', 750, 'Caribbean', Decimal('0.3604')),
 ('Curaçao', None, 'Caribbean', None),
 ('Cuba', 103890, 'Caribbean', Decimal('49.9222')),
 ('Cayman Islands', 240, 'Caribbean', Decimal('0.1153')),
 ('British Virgin Islands', 150, 'Caribbean', Decimal('0.0721')),
 ('Barbados', 430, 'Caribbean', Decimal('0.2066')),
 ('Bahamas', None, 'Caribbean', None),
 ('Aruba', 180, 'Caribbean', Decimal('0.0865')),
 ('Antigua and Barbuda', 440, 'Caribbean', Decimal('0.2114')),
 ('Anguilla', None, 'Caribbean', None),
 ('Venezuela (Bolivarian Republic of)', None, 'South America', None),
 ('Uruguay', 175020, 'South America', Decimal('1.1364')),
 ('Suriname', 156000, 'South America', Decimal('1.0129')),
 ('Peru', 1280000, 'South America', Decimal('8.3109')),
 ('Paraguay', 397300, 'South America', Decimal('2.5796')),
 ('Guyana', 196850, 'South America', Decimal('1.2781')),
 ('French Guiana', None, 'South America', None),
 ('Falkland Islands (Malvinas)', None, 'South America', None),
 ('Ecuador', 248360, 'South America', Decimal('1.6126')),
 ('Colombia', 1109500, 'South America', Decimal('7.2039')),
 ('Chile', 743532, 'South America', Decimal('4.8277')),
 ('Brazil', 8358140, 'South America', Decimal('54.2687')),
 ('Bolivia (Plurinational State of)', None, 'South America', None),
 ('Argentina', 2736690, 'South America', Decimal('17.7691')),
 ('Yemen', None, 'Western Asia', None),
 ('United Arab Emirates', 71020, 'Western Asia', Decimal('2.0358')),
 ('Türkiye', None, 'Western Asia', None),
 ('Syrian Arab Republic', 183630, 'Western Asia', Decimal('5.2638')),
 ('State of Palestine', None, 'Western Asia', None),
 ('Saudi Arabia', 2149690, 'Western Asia', Decimal('61.6209')),
 ('Qatar', 11490, 'Western Asia', Decimal('0.3294')),
 ('Oman', 309500, 'Western Asia', Decimal('8.8718')),
 ('Lebanon', 10230, 'Western Asia', Decimal('0.2932')),
 ('Kuwait', 17820, 'Western Asia', Decimal('0.5108')),
 ('Jordan', 88785, 'Western Asia', Decimal('2.5450')),
 ('Israel', 21640, 'Western Asia', Decimal('0.6203')),
 ('Iraq', 434128, 'Western Asia', Decimal('12.4443')),
 ('Georgia', 69490, 'Western Asia', Decimal('1.9919')),
 ('Cyprus', 9240, 'Western Asia', Decimal('0.2649')),
 ('Bahrain', 781, 'Western Asia', Decimal('0.0224')),
 ('Azerbaijan', 82658, 'Western Asia', Decimal('2.3694')),
 ('Armenia', 28470, 'Western Asia', Decimal('0.8161')),
 ('New Zealand', 263310, 'Australia and New Zealand', Decimal('3.3105')),
 ('Australia', 7690400, 'Australia and New Zealand', Decimal('96.6895')),
 ('Panama', 74150, 'Central America', Decimal('3.0240')),
 ('Nicaragua', 120340, 'Central America', Decimal('4.9077')),
 ('Mexico', 1943950, 'Central America', Decimal('79.2776')),
 ('Honduras', 111890, 'Central America', Decimal('4.5631')),
 ('Guatemala', 107160, 'Central America', Decimal('4.3702')),
 ('El Salvador', 20720, 'Central America', Decimal('0.8450')),
 ('Costa Rica', 51060, 'Central America', Decimal('2.0823')),
 ('Belize', 22810, 'Central America', Decimal('0.9302')),
 ('Togo', 54390, 'Western Africa', Decimal('0.9483')),
 ('Sierra Leone', 72180, 'Western Africa', Decimal('1.2585')),
 ('Senegal', 192530, 'Western Africa', Decimal('3.3568')),
 ('Saint Helena', None, 'Western Africa', None),
 ('Nigeria', 910770, 'Western Africa', Decimal('15.8794')),
 ('Niger', 1266700, 'Western Africa', Decimal('22.0851')),
 ('Mauritania', 1030700, 'Western Africa', Decimal('17.9704')),
 ('Mali', 1220190, 'Western Africa', Decimal('21.2742')),
 ('Liberia', 96320, 'Western Africa', Decimal('1.6794')),
 ('Guinea-Bissau', 28120, 'Western Africa', Decimal('0.4903')),
 ('Guinea', 245720, 'Western Africa', Decimal('4.2842')),
 ('Ghana', 227539, 'Western Africa', Decimal('3.9672')),
 ('Gambia', None, 'Western Africa', None),
 ("Côte d'Ivoire", None, 'Western Africa', None),
 ('Cabo Verde', 4030, 'Western Africa', Decimal('0.0703')),
 ('Burkina Faso', 273600, 'Western Africa', Decimal('4.7702')),
 ('Benin', 112760, 'Western Africa', Decimal('1.9660')),
 ('United States of America', None, 'Northern America', None),
 ('Saint Pierre and Miquelon', None, 'Northern America', None),
 ('Greenland', 410450, 'Northern America', Decimal('4.3776')),
 ('Canada', 8965590, 'Northern America', Decimal('95.6218')),
 ('Bermuda', 54, 'Northern America', Decimal('0.0006')),
 ('South Africa', 1213090, 'Southern Africa', Decimal('45.7654')),
 ('Namibia', 823290, 'Southern Africa', Decimal('31.0597')),
 ('Lesotho', 30360, 'Southern Africa', Decimal('1.1454')),
 ('Eswatini', 17200, 'Southern Africa', Decimal('0.6489')),
 ('Botswana', 566730, 'Southern Africa', Decimal('21.3806')),
 ('Viet Nam', None, 'South-Eastern Asia', None),
 ('Timor-Leste', 14870, 'South-Eastern Asia', Decimal('0.3847')),
 ('Thailand', 510890, 'South-Eastern Asia', Decimal('13.2174')),
 ('Singapore', 713, 'South-Eastern Asia', Decimal('0.0184')),
 ('Philippines', 298170, 'South-Eastern Asia', Decimal('7.7141')),
 ('Myanmar', 652780, 'South-Eastern Asia', Decimal('16.8883')),
 ('Malaysia', 328550, 'South-Eastern Asia', Decimal('8.5000')),
 ("Lao People's Democratic Republic", None, 'South-Eastern Asia', None),
 ('Indonesia', 1877519, 'South-Eastern Asia', Decimal('48.5739')),
 ('Cambodia', 176520, 'South-Eastern Asia', Decimal('4.5668')),
 ('Brunei Darussalam', 5270, 'South-Eastern Asia', Decimal('0.1363')),
 ('Zimbabwe', 386850, 'Eastern Africa', Decimal('6.5026')),
 ('Zambia', 743390, 'Eastern Africa', Decimal('12.4957')),
 ('United Republic of Tanzania', None, 'Eastern Africa', None),
 ('Uganda', 200520, 'Eastern Africa', Decimal('3.3706')),
 ('South Sudan', 631930, 'Eastern Africa', Decimal('10.6222')),
 ('Somalia', 627340, 'Eastern Africa', Decimal('10.5450')),
 ('Seychelles', 460, 'Eastern Africa', Decimal('0.0077')),
 ('Rwanda', 24670, 'Eastern Africa', Decimal('0.4147')),
 ('Réunion', None, 'Eastern Africa', None),
 ('Mozambique', 786380, 'Eastern Africa', Decimal('13.2184')),
 ('Mayotte', None, 'Eastern Africa', None),
 ('Mauritius', 2030, 'Eastern Africa', Decimal('0.0341')),
 ('Malawi', 94280, 'Eastern Africa', Decimal('1.5848')),
 ('Madagascar', 581800, 'Eastern Africa', Decimal('9.7795')),
 ('Kenya', 569140, 'Eastern Africa', Decimal('9.5667')),
 ('Ethiopia', 1128559, 'Eastern Africa', Decimal('18.9701')),
 ('Eritrea', 121083, 'Eastern Africa', Decimal('2.0353')),
 ('Djibouti', 23180, 'Eastern Africa', Decimal('0.3896')),
 ('Comoros', 1861, 'Eastern Africa', Decimal('0.0313')),
 ('Burundi', 25680, 'Eastern Africa', Decimal('0.4317')),
 ('Republic of Korea', None, 'Eastern Asia', None),
 ('Mongolia', 1557298, 'Eastern Asia', Decimal('13.7249')),
 ('Japan', 364500, 'Eastern Asia', Decimal('3.2124')),
 ("Democratic People's Republic of Korea", None, 'Eastern Asia', None),
 ('China', 9424702, 'Eastern Asia', Decimal('83.0626')),
 ('Vanuatu', 12190, 'Melanesia', Decimal('2.3018')),
 ('Solomon Islands', 27990, 'Melanesia', Decimal('5.2852')),
 ('Papua New Guinea', 452860, 'Melanesia', Decimal('85.5114')),
 ('New Caledonia', 18280, 'Melanesia', Decimal('3.4517')),
 ('Fiji', 18270, 'Melanesia', Decimal('3.4498')),
 ('Palau', 460, 'Micronesia', Decimal('18.6235')),
 ('Northern Mariana Islands', 460, 'Micronesia', Decimal('18.6235')),
 ('Nauru', 20, 'Micronesia', Decimal('0.8097')),
 ('Micronesia (Federated States of)', None, 'Micronesia', None),
 ('Marshall Islands', 180, 'Micronesia', Decimal('7.2874')),
 ('Kiribati', 810, 'Micronesia', Decimal('32.7935')),
 ('Guam', 540, 'Micronesia', Decimal('21.8623')),
 ('Uzbekistan', 440595, 'Central Asia', Decimal('11.7523')),
 ('Turkmenistan', 469930, 'Central Asia', Decimal('12.5348')),
 ('Tajikistan', 138790, 'Central Asia', Decimal('3.7020')),
 ('Kyrgyzstan', None, 'Central Asia', None),
 ('Kazakhstan', 2699700, 'Central Asia', Decimal('72.0109'))]

In [13]:
%%sql
SELECT 
    Sub_region, 
    SUM(Land_area) AS Total_Land_Area
FROM 
    Geographic_location
GROUP BY 
    Sub_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Southern Asia', Decimal('4770136')),
 ('Northern Africa', Decimal('6610941')),
 ('Polynesia', Decimal('7218')),
 ('Middle Africa', Decimal('3888270')),
 ('Caribbean', Decimal('208104')),
 ('South America', Decimal('15401392')),
 ('Western Asia', Decimal('3488572')),
 ('Australia and New Zealand', Decimal('7953710')),
 ('Central America', Decimal('2452080')),
 ('Western Africa', Decimal('5735549')),
 ('Northern America', Decimal('9376094')),
 ('Southern Africa', Decimal('2650670')),
 ('South-Eastern Asia', Decimal('3865282')),
 ('Eastern Africa', Decimal('5949153')),
 ('Eastern Asia', Decimal('11346500')),
 ('Melanesia', Decimal('529590')),
 ('Micronesia', Decimal('2470')),
 ('Central Asia', Decimal('3749015'))]

While this method may look a bit more complicated, it runs much faster than the previous method because it does not need to repeat calculations for each row. This is especially true for larger tables.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:100px"  ;/>
</div>